/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #c8bff5;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #9f5fed;
}
/* textbox */
.textbox {
  border: #000 5px dashed;
  height: 800px;
  width: 50%;
  position: absolute;
  top: 700px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.text {
  padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;
  padding-right: 50px;
  text-align: center justify;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
/* copyright */
#copyright {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 820px;
}
