/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #ffee96;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #ff7400;
}
/* contactbox */
.contactbox {
  border: #000 5px dashed;
  height: 80px;
  width: 50px;
  top: 700px;
  right: 60%;
}
/* form */
.formbox {
  border: #000 5px dashed;
  height: 180px;
  width: 250px;
  top: 700px;
  left: 560px;
}
/* copyright */
#copyright {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 820px;
}
