.sheet {
  background-color: #ffffff;
  height: 100%;
  width: 55%;
  padding-top: 20px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
}
