/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #c8bff5;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #9f5fed;
}
/* GALLERY STYLES */
.button1:hover {
  opacity: 70%;
}
.button2:hover {
  opacity: 70%;
}
.button3:hover {
  opacity: 70%;
}
.button1 {
  background: url(https://lh3.googleusercontent.com/Na6tpXBhckELpKiT8y0rTE6iJeytOHszx3yBdPbVujrjD0uPrZlNq6CgdagSORdhaQ)
    no-repeat;
  background-size: 260px;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.button2 {
  background: url(https://i1.wp.com/s3.eu-west-2.amazonaws.com/fifteen-uploads/uploads/2018/12/wordpress-logo-big-580x580.jpg?ssl=1)
    no-repeat;
  background-size: 260px;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.button3 {
  background: url(https://www.kindpng.com/picc/m/200-2004156_xbox-clipart-game-icon-hd-png-download.png)
    no-repeat;
  background-size: 270px;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.column2 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.column3 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;lolol
  margin-right: -50%;
  transform: translate(-50%, -50%);
}*/
/* copyright */
#copyright {
  position: relative;
  text-align: center;
  font-family: absender, sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
  top: 200px;
}

/* balloons */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffff;
  color: #000;
  font-family: absender, sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
