/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #ffee96;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #ff7400;
}
/* GALLERY STYLES */
.button1:hover {
  opacity: 70%;
}
.button2:hover {
  opacity: 70%;
}
.button3:hover {
  opacity: 70%;
}
.button1 {
  background: url(https://i.imgur.com/qTBxlua.png) no-repeat;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.button2 {
  background: url(https://i.imgur.com/qTBxlua.png) no-repeat;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.button3 {
  background: url(https://i.imgur.com/qTBxlua.png) no-repeat;
  cursor: pointer;
  padding: 120px 120px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.column2 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.column3 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}*/
/* copyright */
#copyright {
  position: relative;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
  top: 200px;
}
