/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #fada5e;
}
/* GALLERY STYLES */
.button:hover {
  opacity: 70%;
}

.button {
  background: url(https://i.imgur.com/QaXtWn6.jpg) no-repeat;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 80px 80px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#gallery {
  text-align: center;
}
.column1 {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  top: -5px;
  left: 380px;
}
.column2 {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  top: 150px;
  right: 270px;
}
.column3 {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  top: 280px;
  right: 5px;
}
/* Style the buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #ffffff;
  opacity: 75%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* copyright */
#copyright {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 420px;
}
