/* menu STYLES */
div.scrollmenu {
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #c8bff5;
  overflow: auto;
  white-space: nowrap;
  transition: 0.6s ease;
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  position: relative;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #9f5fed;
}
/* GALLERY STYLES */
.button1:hover {
  opacity: 70%;
}
.button2:hover {
  opacity: 70%;
}
.button3:hover {
  opacity: 70%;
}
.button1 {
  background: url(https://i.imgur.com/5aWv5AU.png) no-repeat;
  background-size: 240px;
  cursor: pointer;
  padding: 120px 120px;
}
.button2 {
  background: url(https://i.imgur.com/al9UiCO.png) no-repeat;
  background-size: 240px;
  cursor: pointer;
  padding: 120px 120px;
}
.button3 {
  background: url(https://i.imgur.com/mkdDBo2.png) no-repeat;
  background-size: 240px;
  cursor: pointer;
  padding: 120px 120px;
}
.column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.column2 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.column3 {
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;lolol
  margin-right: -50%;
  transform: translate(-50%, -50%);
}*/

/* balloons */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffff;
  color: #000;
  font-family: absender, sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* copyright */
#copyright {
  position: relative;
  text-align: center;
  font-family: absender, sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
  top: 200px;
}
.textbox1 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
.text {
  font-family: absender, sans-serif;
  font-size: 12px;
  text-align: left;
  position: relative;
  margin-left: 22%;
  padding: 15px;
}
.tex2 {
  font-family: absender, sans-serif;
  font-size: 12px;
  text-align: left;
  position: relative;
  margin-left: 22%;
  top: 120px;
}
